<table class="table-auto mt-10">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Created At</th>
    </tr>
  </thead>
  <tbody>
  <% @mines.each do |mine| %>
    <tr>
      <td class="link-item"><%= link_to mine.name.capitalize, mine_path(mine) %></td>
      <td><%= mine.email %></td>
      <td><%= mine.created_at.strftime("%I:%M %p - %B %d, %Y") %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%== pagy_nav(@pagy) %>